header {
	background-color:lightpink;
	padding:1px;
	text-align:center;
}

main {
	background-color:yellow;
	display: flex;
	flex-direction: column;
	align-items: center;
}
article{ 
       background-color:red;
}
body{
	flex-direction: column;
	align-items: center;
	padding:100px;
}
h1,h2,h3,h4{
	        color:rad;
			padding:1px;
			margin:50px:
}
fooder{
      padding:10px;
      margin:50px;
}	  